YOUTUBE_API_KEY=xxx
YOUTUBE_API_URL='https://www.googleapis.com/youtube/v3/videos'
SIDEKIQ_DASHBOARD_USERNAME='admin@example.com'
SIDEKIQ_DASHBOARD_PASSWORD='example@rock'
REDIS_URL='redis://localhost:6379/1'
EMAIL_CONFIRMATION_REQUIRED=0

# ----------------- master key ----------------- #
# This is the master key for development environment
RAILS_MASTER_KEY=ca69802734cd5096b22dc78f1f5d4435

#---------------- Config routes ----------------#
ATTACHED_API=1
ATTACHED_SIDEKIQ=1
ATTACHED_API_DOCS=1

#---------------- Config database ----------------#
# ----------------- local ----------------- #
RAILS_DB_USER_NAME=
RAILS_DB_HOST=
RAILS_DB_PORT=
RAILS_DB_NAME=
RAILS_DB_PASSWORD=

#----------------- websocket -----------------#
WS_PATH='/cable'
WS_PUBLIC_URL='ws://localhost:3000/cable'